<kt-portlet>
    <!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->

        <ng-container ktPortletTitle>
            <h3 class="kt-portlet__head-title">
                <span>Leads</span>
            </h3>
            <!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
            <!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
        </ng-container>

        <ng-container ktPortletTools>
            <button (click)="createNew()" mat-raised-button matTooltip="Create new" color="primary" type="button">
                <span>Create New</span>
            </button>
            <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
            <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
        <form class="col-sm-7 mx-auto " [formGroup]="searchFormGroup">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Name"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': hasFormErrors && searchFormGroup.controls.name.errors }" />
                    <span class="invalid-feedback" *ngIf="hasFormErrors && searchFormGroup.controls.name.errors">Name is
                        required.</span>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Mobile Number</label>
                    <input type="number" class="form-control mb-2" id="inlineFormInput" placeholder="Mobile Number"
                        formControlName="mobileNumber"
                        [ngClass]="{ 'is-invalid': hasFormErrors && searchFormGroup.controls.mobileNumber.errors }" />
                    <span class="invalid-feedback"
                        *ngIf="hasFormErrors && searchFormGroup.controls.mobileNumber.errors">Enter a valid mobile
                        number.</span>
                </div>
                <div class="col-auto">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>

        <div [hidden]="!message" class="col-sm-4 mx-auto"><br>
            <p><b>{{ message }}</b></p>
        </div>

        <table id="tablePreview" class="table" style="margin-top:22px;" *ngIf="leads?.length > 0 && !toLoad">

            <thead>
                <tr class="bg-secondary">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Date</th>
                    <th>DSE</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="getRowData(lead.id)" *ngFor="let lead of leads">
                    <th scope="row">{{lead.id}}</th>
                    <td>{{lead.firstName}}</td>
                    <td>{{lead.lastName}}</td>
                    <td>{{lead.mobileNumber}}</td>
                    <td>{{lead.creationDate | date : 'mediumDate'}}</td>
                    <td><span *ngFor="let lead of lead.dseCustomerMappings">
                            <li>
                                {{lead.dscName}}
                            </li>
                        </span>
                    </td>
                    <td>{{lead.status}}</td>
                    <td>
                        <button mat-icon-button color="primary" matTooltip="Edit Lead"
                            (click)="$event.stopPropagation();editLead(lead)">
                            <mat-icon>create</mat-icon>
                        </button>

                        <button mat-icon-button color="warn" matTooltip="Delete Lead" type="button"
                            (click)="$event.stopPropagation();deleteLead(lead)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="tablePreview" class="table" style="margin-top:22px;" *ngIf="initialLeads?.length > 0 && toLoad">

            <thead>
                <tr class="bg-secondary">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Model</th>
                    <th>DSE</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="getRowData(lead.id)" *ngFor="let lead of initialLeads">
                    <th scope="row">{{lead.id}}</th>
                    <td>{{lead.firstName}}</td>
                    <td>{{lead.lastName}}</td>
                    <td>{{lead.mobileNumber}}</td>
                    <td><span *ngFor="let Det of lead.enquiryDetails">{{Det.model}}</span></td>
                    <td>{{lead?.dseCustomerMappings[0]?.dscName}}</td>
                    <td>
                        <button mat-icon-button color="primary" matTooltip="Edit Lead"
                            (click)="$event.stopPropagation();editLead(lead)">
                            <mat-icon>create</mat-icon>
                        </button>

                        <button mat-icon-button color="warn" matTooltip="Delete Lead" type="button"
                            (click)="$event.stopPropagation();deleteLead(lead)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="col-sm-4 mx-auto" *ngIf="toLoad">
            <div *ngIf="scope.totalElements === 0">No records found</div>
            <div *ngIf="isLoading">Please wait....</div>
        </div>
        <!-- start: BOTTOM -->
        <div class="mat-table__bottom" *ngIf="toLoad">
            <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
            <mat-paginator [pageSize]="scope.size" (page)="paginatorEvents($event)" [pageSizeOptions]="[3, 5, 10]"
                [length]="scope.totalElements" [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>